ion-header::after {
  background-image: none;
}

h1,h2,h3 {
  margin: 0!important;
}

ion-content {
  display: flex;
  width: auto;
  align-items: center;
  flex-direction: column;
  .header {
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: column;
    background: var(--ion-color-primary);
    height: auto!important;
    color: #fff;
    .name {
      font-size: 2rem;
    }
    .time {
      display: flex;
      width: auto;
      align-items: center;
      flex-direction: column;
      h1 {
        margin: 0!important;
      }
      ion-icon {
        font-size: 8rem!important;
       }
    }
  }
  .content {
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto!important;
    ion-item {
      ion-label {
        text-overflow: unset;
        white-space: unset;
        overflow: unset;
      }
      ion-icon {
        font-size: 2rem!important;
      }
      ion-label {

      }
    }
    h1,h2,h3 {
      margin: 0!important;
    }
  }
}
