
<ion-header no-border no-shadow mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="close()" >
        <ion-icon name="arrow-back-sharp" style="font-size: 2em!important;" color="primary" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Daily Tap Activity</ion-title>
    <div slot="end" style="width: 48px"></div>
  </ion-toolbar>

  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button [disabled]="isLoading" (click)="prevDate()" >
        <ion-icon name="chevron-back-circle-outline" style="font-size: 2em!important;" color="primary" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      matRipple
      [matRippleUnbounded]="true"
      [matRippleRadius]="20"
      id="open-date-picker"
      class="ion-text-center">
      <div class="date-picker-button">
        <app-date-formatter [date]="currentSelected" format="MMMM dd, yyyy"></app-date-formatter>
        <ion-icon name="filter" style="font-size: 1.5em!important;" color="primary" ></ion-icon>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="isLoading || !isNextEnable" (click)="isNextEnable ? nextDate() : false">
        <ion-icon name="chevron-forward-circle-outline" style="font-size: 2em!important;" color="primary" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="calendar-days" [ngClass]="{'show-shadow' : data.length > 2}">
    <ul>
      <li
        *ngFor="let item of weeks;"
        matRipple
        [matRippleUnbounded]="item.enabled(item.date) ? true : false"
        [matRippleRadius]="30"
        [ngClass]="{ 'current': item.isCurrent(item.date), 'enabled' : item.enabled(item.date) }"
        (click)="item.enabled(item.date) ? selectDate(item.date) : true">
        <h1 class="date">
          <app-date-formatter [date]="item.date" format="dd"></app-date-formatter>
        </h1>
        <h4 class="day">
          <app-date-formatter [date]="item.date" format="EE"></app-date-formatter>
        </h4>
        <ng-template #loadingEmoji>
          <div >
            <ion-skeleton-text [animated]="true" style="height: 100%;width: 100%;"></ion-skeleton-text>
          </div>
        </ng-template>
      </li>
    </ul>
  </div>
</ion-header>

<ion-content mode="md">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh()" class="refresher-custom">
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>
  <div class="timeline">
    <ion-list *ngIf="data.length > 0;" class="notifications" >
      <ion-item *ngFor="let item of data; index as i" button lines="full" detail="false">
        <ion-icon name="{{item.status === 'LOG IN' ? 'enter' : 'log-out' }}-outline" color="{{item.status === 'LOG IN' ? 'secondary' : ''}}" slot="start"></ion-icon>
        <ion-label>
          <h1>{{item.time}}</h1>
          <h1>{{item.status ==='LOG IN' ? i > 0 ? 'TAP IN' : 'Arrived' : 'TAP OUT'}}</h1>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-modal trigger="open-date-picker" [cssClass]="'bottom-end'">
    <ng-template>
      <ion-datetime
        presentation="date"
        size="cover"
        locale="en-ph"
        [(ngModel)]="currentSelected"
        [max]="maxDatePicker.toISOString()"
        (ionChange)="onDatePickerChange($event)"
        [showDefaultButtons]="true"
      ></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-modal
    [initialBreakpoint]="0.80"
    [breakpoints]="[0, 0.80, 1]"
    class="journal-details-modal">
    <ng-template>
      <!-- <app-journal-details [details]="selectedDetails"></app-journal-details> -->
    </ng-template>
  </ion-modal>

</ion-content>
