
<mat-toolbar color="primary" [ngClass]="{ 'side-bar-open' : drawerDefaultOpened}">
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu" *ngIf="!drawerDefaultOpened">
      <mat-icon>menu</mat-icon>
  </button>
  <img id="banner" src="../assets/img/banner.png">
  <span id="title">{{title}}</span>
  <span class="toolbar-item-spacer"></span>
  <button mat-icon-button matTooltip="Notifications">
      <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
      <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
      <button mat-menu-item routerLink="/">
          <mat-icon>person</mat-icon><span>My Account</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="signOut()">
          <mat-icon>exit_to_app</mat-icon>Logout
      </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="app-container" >
  <mat-sidenav #sidenav mode="side" className="mat-elevation-z4" [opened]="drawerDefaultOpened" [mode]="!drawerDefaultOpened ? 'over': 'side'" style="position: fixed;">
      <mat-nav-list>
          <mat-list-item routerLink="dashboard" (mouseup)="!drawerDefaultOpened ? sidenav.close() : false" routerLinkActive="active-link">
              <mat-icon>dashboard</mat-icon><span>Dashboard</span>
          </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="page-wrapper">
          <div class="page-container" [ngClass]="{ 'details-container': details }">
              <router-outlet (activate)="onActivate($event)">
              </router-outlet>
          </div>
        </div>
  </mat-sidenav-content>
</mat-sidenav-container>
