
ion-header.new-journal::after {
    background-image: none;
}


::ng-deep mat-stepper {
    padding: 0 40px;
    height: 100%!important;
    display: flex!important;
    flex-direction: column;
    .mat-horizontal-stepper-header-container {
        display: none!important;
    }
    .mat-horizontal-content-container {
        padding: 0!important;
    }
    &.center {
      justify-content: center;
    }
}

  .form-container {
    .form-header {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        .title {
            font-size: 1.4em;
            font-weight: 900;
            text-align: center;
            margin-bottom: 24px;
        }
        .check {
            font-size: 10em;
        }
    }
    form {
        flex-grow: 0!important;
        width: 100%;
    }
    .form-footer {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      row-gap: 10px;
      ion-button {
          height: 50px;
          flex-grow: 1;
          font-size: 18px;
          width: 100%;
      }
     }
  }



  .controls {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    align-items: center;
    ion-button {
        height: 50px;
        flex-grow: 1;
        font-size: 18px;
        width: 100%;
    }
}

.swiper-container {
    width: 60%;
    overflow: visible;
    .pet-container {
     display: flex;
     align-items: center;
     justify-content: center;
     img {
      scale: 0.8;
      transition: all 0.3s;
     }
    }
    &.touched {
     .pet-container {
        img {
            scale: 0.8!important;
        }
     }
    }
    :not(.swiper-slide-active) {
      .pet-container {
        img {
        opacity: 0.2;
       }
      }
    }
    .swiper-slide-active {
      .pet-container {
        img {
            scale: 1;
       }
      }
    }
  }
