ion-header::after {
  background-image: none;
}

::ng-deep .login {
  mat-stepper {
   padding: 0 40px;
   height: 100%!important;
   display: flex!important;
   flex-direction: column;
   justify-content: center;
   .mat-horizontal-stepper-header-container {
       display: none!important;
   }
   .mat-horizontal-content-container {
       padding: 0!important;
   }
   .form-container {
     .form-header {
         display: flex;
         width: 100%;
         flex-direction: column;
         .title {
             font-size: 2em;
             font-weight: 900;
         }
         .desc {
             font-size: 1.4em;
         }
     }
     form {
         flex-grow: 0!important;
         width: 100%;
     }
     .form-footer {
       display: flex;
       flex-direction: column;
       width: 100%;
       align-items: center;
       row-gap: 10px;
       ion-button {
           height: 50px;
           flex-grow: 1;
           font-size: 18px;
           width: 100%;
       }
      }
   }
 }
}
