<ion-header no-border no-shadow mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="close()" >
        <ion-icon name="arrow-back-sharp" style="font-size: 2em!important;" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><h1 style="margin: 0!important;">Password and security</h1></ion-title>
    <div slot="end" style="width: 48px"></div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <form
  id="changePasswordForm"
  [formGroup]="changePasswordForm"
  (ngSubmit)="changePasswordForm.valid ? onSubmit() : false">
    <fieldset [disabled]="isSubmitting">
      <div class="form-field-group">
        <mat-label>Current Password</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="password"
            placeholder="Current Password"
            formControlName="currentPassword"
            autocomplete="new-currentPassword"
            #currentPassword
          />
          <mat-icon
            class="icon-right"
            (click)="currentPassword.type = (currentPassword.type === 'password' ? 'text' : 'password')"
            style="cursor: pointer;"
            matSuffix>{{ currentPassword.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>
        <span class="error" *ngIf="errorControls.currentPassword.touched && errorControls.currentPassword.errors && errorControls.currentPassword.errors.required">
          Please enter your password
        </span>
        <span class="error" *ngIf="errorControls.currentPassword.touched && errorControls.currentPassword.errors && errorControls.currentPassword.errors.incorrectPassword">
          Password is incorrect
        </span>
      </div>
      <div class="form-field-group">
        <mat-label>New Password</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            autocomplete="new-password"
            #password
          />
          <mat-icon
            class="icon-right"
            (click)="password.type = (password.type === 'password' ? 'text' : 'password')"
            style="cursor: pointer;"
            matSuffix>{{ password.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>
        <span class="error" *ngIf="errorControls.password.touched && errorControls.password.errors && errorControls.password.errors.required">
          Please enter new password
        </span>
      </div>
      <div class="form-field-group">
        <mat-label>Confirm Password</mat-label>
        <mat-form-field appearance="outline">
          <input
          matInput
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
          autocomplete="new-confirmPassword"
          [errorStateMatcher]="matcher"
          #confirmPassword
          />
          <mat-icon
            class="icon-right"
            (click)="confirmPassword.type = (confirmPassword.type === 'password' ? 'text' : 'password')"
            style="cursor: pointer;"
            matSuffix>{{ confirmPassword.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>
        <span class="error" *ngIf="errorControls.confirmPassword.touched && errorControls.confirmPassword.errors && errorControls.confirmPassword.errors.required">
          Confirm Password is required
        </span>
        <span class="error" *ngIf="errorControls.confirmPassword.touched && notSameValueErrorHandler && notSameValueErrorHandler.notSame">
          Password not match
        </span>
      </div>
    </fieldset>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar
  mode="md">
    <ion-button
      mode="md"
      type="submit"
      expand="full"
      shape="round"
      size="large"
      color="primary"
      form="changePasswordForm"
      [disabled]="!changePasswordForm.valid || isSubmitting">
      Update password
  </ion-button>
  </ion-toolbar>
</ion-footer>
