ion-header::after {
  background-image: none;
}

ion-footer {
  display: flex;
  ion-toolbar {
    display: flex;
    padding: 5px 10px;
    ion-button {
        height: 50px;
        flex-grow: 1;
        font-size: 18px;
        width: 100%;
        margin: 0!important;
    }
  }
}
