<ion-header no-border no-shadow>
  <ion-toolbar mode="md">
    <div slot="start" style="width: 48px"></div>
    <ion-title class="ion-text-center"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" >
        <ion-icon name="close-sharp" style="font-size: 2em!important;" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content mode="md">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh()" class="refresher-custom">
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>
  <div class="content">
      <div class="title">
        <h1>My Request</h1>
      </div>
    <div class="request ion-padding" >
      <ng-container *ngIf="!isLoading; else loadingTemplate">
        <ng-container *ngIf="myRequests.length > 0; else noRequestTemplate">
          <div class="row" *ngFor="let item of myRequests">
            <ion-card mode="ios">
              <ion-card-content>
                <ion-item button lines="none" detail="false" (click)="current = item;requestInfoModal.present();">
                  <ion-label>
                    <div style="display: flex;flex-direction: row; align-items: center; gap: 10px;">
                      <ion-icon aria-hidden="true" color="primary" name="checkmark-circle" slot="start" *ngIf="item.status === 'APPROVED'; else notApproved"></ion-icon>
                      <ng-template #notApproved>
                        <ion-icon aria-hidden="true" color="warning" name="time" slot="start" *ngIf="item.status === 'PENDING'; else closed"></ion-icon>
                      </ng-template>
                      <ng-template #closed>
                        <ion-icon aria-hidden="true" color="danger" name="{{item?.status === 'REJECTED' ? 'close-circle' : 'remove-circle'}}" slot="start"></ion-icon>
                      </ng-template>
                      <div style="display: flex;flex-direction: column;">
                        <h2 style="margin-bottom: 10px;">{{ item.dateRequested| date: 'MMM dd, yyyy'}}</h2>
                        <h1><strong>{{item.student.fullName}}</strong></h1>
                      </div>
                    </div>
                    <h2><strong>{{item.school.schoolName}}</strong></h2>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </div>
          <ion-button *ngIf="myRequests && myRequests.length >= limit && myRequests.length < total" fill="clear" size="small" expand="full" (click)="loadMore()"><h2>Load more...</h2></ion-button>
        </ng-container>

      </ng-container>

    </div>
  </div>
  <ion-modal #requestInfoModal class="request-info-modal" [initialBreakpoint]="current?.status === 'PENDING' ? 1 : 0.8" [breakpoints]="[0, 0.8, 1]">
    <ng-template>
      <ion-header no-border no-shadow>
        <ion-toolbar mode="md">
          <div slot="start" style="width: 48px"></div>
          <ion-title class="ion-text-center"></ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="requestInfoModal.dismiss()" >
              <ion-icon name="close-sharp" style="font-size: 2em!important;" color="primary"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content mode="md">
        <div class="ion-padding">
          <h2>{{current?.dateRequested | date: 'MMM dd, yyyy'}}</h2>
          <ion-item lines="none" detail="false">
            <ion-icon aria-hidden="true" color="primary" name="checkmark-circle" slot="start" *ngIf="current?.status === 'APPROVED'; else currentNotApproved"></ion-icon>
            <ng-template #currentNotApproved>
              <ion-icon aria-hidden="true" color="warning" name="time" slot="start" *ngIf="current?.status === 'PENDING'; else currentClosed"></ion-icon>
            </ng-template>
            <ng-template #currentClosed>
              <ion-icon aria-hidden="true" color="danger" name="{{current?.status === 'REJECTED' ? 'close-circle' : 'remove-circle'}}" slot="start"></ion-icon>
            </ng-template>
            <ion-label>
              <h2 style="opacity: 0.7;"><strong>Status</strong></h2>
              <h1>{{current?.status}}</h1>
            </ion-label>
          </ion-item>
          <ion-item [button]="current?.status === 'APPROVED'" lines="none" detail="false">
            <ion-icon aria-hidden="true" color="primary" name="person" slot="start"></ion-icon>
            <ion-label>
              <h2 style="opacity: 0.7;"><strong>Student</strong></h2>
              <h2><strong>{{current?.student?.orgStudentId}}</strong></h2>
              <h1>{{current?.student?.fullName}}</h1>
            </ion-label>
          </ion-item>
          <ion-item [button]="current?.status === 'APPROVED'" lines="none" detail="false">
            <ion-icon aria-hidden="true" color="primary" name="business" slot="start"></ion-icon>
            <ion-label>
              <h2 style="opacity: 0.7;"><strong>School</strong></h2>
              <h1>{{current?.school?.schoolName}}</h1>
              <h2>{{current?.school?.schoolAddress}}</h2>
            </ion-label>
          </ion-item>
        </div>
      </ion-content>
      <ion-footer *ngIf="current?.status === 'PENDING'">
        <ion-toolbar mode="md">
          <ion-button
            (click)="onCancel()"
            mode="md"
            expand="full"
            shape="round"
            size="large"
            fill="outline"
            color="danger">
          Cancel
        </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
  <ng-template #noRequestTemplate>
    <div class="no-result">
      <ion-icon name="document-outline"></ion-icon>
      <h1>No Request to show</h1>
    </div>
  </ng-template>

  <ng-template #loadingTemplate>
    <div class="row">
      <ion-card mode="ios">
        <ion-card-content>
          <ion-item button="false" lines="none" detail="false">
            <ion-label>
              <div style="display: flex;flex-direction: row; align-items: center; gap: 10px;">
                <ion-skeleton-text style="min-height: 70px;min-width: 70px;max-width: 70px;" [animated]="true"></ion-skeleton-text>
                <div style="display: flex;flex-direction: column;width: 100%;">
                  <h2 style="margin-bottom: 10px;">
                    <ion-skeleton-text style="height: 25px;width: 100%" [animated]="true"></ion-skeleton-text>
                  </h2>
                  <h1>
                    <ion-skeleton-text style="height: 25px;width: 100%;" [animated]="true"></ion-skeleton-text>
                  </h1>
                </div>
              </div>
              <h2>
                <ion-skeleton-text style="height: 25px;" [animated]="true"></ion-skeleton-text>
              </h2>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>
</ion-content>
