/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("./assets/fonts/poppins/Poppins-SemiBold.ttf");
}
html, body {
  font-family: 'Poppins-SemiBold'!important;
    background-color: #ffffff!important;

  }
  h1,h2,h3,h4,h5,h6,
  p,strong,span,label,input,textarea, ion-button {
    margin: 0;
    font-family: 'Poppins-SemiBold'!important;
  }


  /* app theme */
  form {
    flex-grow: 1;
    display: flex;
    fieldset {
      min-width: 0!important;
      flex-grow: 1;
      display: flex;
      border: none!important;
      padding: 0;
      margin: 0;
      flex-direction: column;
      .form-field-group {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 0 0 20px 0;
        margin: 0;
        .mat-form-field-wrapper {
          padding-bottom: 0px;
        }
        .error {
          margin: 10px 0 0 0!important;
          color: #f44336;
        }
      }
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px #ecf3f6 inset !important;
      -webkit-text-fill-color: #000000 !important;
  }

  /* end */


.modal-fullscreen {
  --width: 100%;
  --height: 100%;
}
.toast-success {
  --background: #383a3e;
  --color: #ffff;
}
.toast-error {
  --background: #cf3c4f;
  --color: #ffff;
}

.action {
  display: flex;
  ion-button,button {
    flex-grow: 1;
    height: 45px;
    font-size: 15px;
  }
}

ion-modal {
  --backdrop-opacity: 0.4!important;

  &.bottom-end {
    align-items: flex-end;
    --height: auto;
    .ion-page {
      position: relative;
      display: block;
      contain: content;
    }
  }
}

ion-item {
  --border-color: rgba(0,0,0,0.1);
}
ion-item.item-has-focus.ion-valid {
  --highlight-background: var(--ion-color-primary);
  --border-color: var(--ion-color-primary);
}

.mat-select-panel{
  font-size: 18px!important;
}

.no-records {
  display: flex;
  width: 100%;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  .text {
    text-align: center;
    width: 100%;
  }
}
.form-field-group {
  mat-label {
    margin-bottom: 5px!important;
  }
  ion-item {
    min-width: 0!important;
    &.item-fill-outline {
      button {
        padding-left: 0!important;
      }
      ion-select {
        display: flex;
        flex-grow: 1;
        width: 100%!important;
        margin: 0!important;
      }
    }
  }
  ion-radio-group {
    margin-bottom: 10px;
    margin: 0 3px!important;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    ion-item {
      &.item-fill-outline {
        --border-width: 0px!important;
        --border-color: transparent!important;
        outline: 1px solid rgba(0,0,0,0.1);
        border-radius: 3px!important;
        &.item-radio-checked {
          outline-width: 2px!important;
          outline-color: var(--ion-color-primary)!important;
          ion-icon {
            color: var(--ion-color-primary)!important;
          }
        }
      }
    }
  }
  &.inline {
    ion-radio-group {
      margin: 0 3px!important;
      column-gap: 10px;
      flex-direction: row!important;
      display: flex!important;
      ion-item {
        margin-bottom: 0px!important;
        flex-grow: 1!important;
      }
    }
  }
}
ion-alert {
  &.select-alert {
    padding: 0 10px!important;
    .alert-wrapper {
      min-width: 100%!important;
    }
  }
}

ion-tabs,ion-footer {
  margin-bottom: var(--ion-safe-area-bottom);
}

ion-footer {
  margin-bottom: var(--ion-safe-area-bottom);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ion-button.in-toolbar.button-has-icon-only {
  --padding-top: 5px!important;
  --padding-end: 5px!important;
  --padding-bottom: 5px!important;
  --padding-start: 5px!important;
  ion-icon {
    font-size: 2.5em!important;
  }
}

::ng-deep g.line-chart > g:last-of-type > g:nth-child(n) g.line-series > path {
  stroke-width: 10;
  stroke-linecap: round;
}
.modal-wrapper{
  background: transparent !important;
}

ion-modal {
  --font-family: 'Poppins-SemiBold'!important;
  &.transaparent {
    --background: transparent !important;
    ion-header {
      --background: transparent !important;
    }
  }
}


.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-gap {
    border-width: 3px !important;
}

.mat-stroked-button {
  border-width: 3px!important
}

.item-fill-outline {
  --border-width: 3px!important
}

mat-form-field {
  label {
    font-size: 20px!important;
  }
  input,textarea {
    font-size: 20px!important;
  }
}

ion-select {
  font-size: 20px !important;
}

.form-field-group {
  ion-item {
    ion-label {
      font-size: 20px !important;
    }
  }
}

.mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.2em;
  margin-top: 0!important;
}

mat-form-field.mat-form-field-should-float .mat-form-field-label {
  margin-top: 0.5em!important;
}


ion-tab-bar {
  height: 60px!important;
}
ion-tab-button {
  ion-label {
      font-size: 1rem;
      font-weight: 600;
  }
  font-size: 14px;
  ion-icon {
    font-size: 2.3rem;
  }
  ion-badge {
    --background: var(--ion-color-primary-shade);
    font-size: 15px;
    padding: 5px;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: -2px!important;
}
}
ion-item {
  ion-label {
    font-size: 1.3em!important;
    line-height: 1;
  }
  ion-input {
    input {
      font-size: 1.3em!important;
      line-height: 1;
    }
  }
}

// .app-action-sheet {
//   .action-sheet-wrapper {
//     .action-sheet-container {
//       .action-sheet-group {
//         button {
//           height: 60px!important;
//           .action-sheet-button-inner {
//             font-size: 1.3rem!important;
//           }
//         }
//       }
//     }
//   }
// }

ion-alert {
  .alert-radio-label {
    font-size: 1.2rem!important;
  }
}

.material-icons {
  font-family: 'Material Icons'!important;
}

mat-error {
  font-family: 'Poppins-SemiBold'!important;
}
