
<h4 mat-dialog-title>Parent Information</h4>
<div mat-dialog-content>
  <div fxFlex="100" class="content-inner" fxLayout="column">
    <form [formGroup]="parentForm" fxLayout="row wrap" class="readonly">
      <fieldset fxFlex="100" fxLayout="column">
        <div
          fxLayout="column"
          fxFlex="100"
          style="gap: 16px">
          <mat-form-field
            appearance="outline">
            <mat-label>Username &nbsp;&nbsp;</mat-label>
            <input
              matInput
              placeholder="Username"
              formControlName="userName"/>
          </mat-form-field>
          <mat-form-field
            appearance="outline">
            <mat-label>First Name &nbsp;&nbsp;</mat-label>
            <input
              matInput
              placeholder="First Name"
              formControlName="firstName"/>
          </mat-form-field>
          <mat-form-field
            appearance="outline">
            <mat-label>Middle Initial &nbsp;&nbsp;</mat-label>
            <input
              matInput
              value="{{parent?.middleInitial && parent?.middleInitial !== '' ? 'Middle Initial' : ' '}}"
              formControlName="middleInitial"
            />
          </mat-form-field>
          <mat-form-field
            appearance="outline">
            <mat-label>Last Name &nbsp;&nbsp;</mat-label>
            <input
              matInput
              placeholder="Last Name"
              formControlName="lastName"
            />
          </mat-form-field>
          <mat-form-field
            appearance="outline">
            <mat-label>Mobile number &nbsp;&nbsp;</mat-label>
            <input
              matInput
              placeholder="Mobile number"
              formControlName="mobileNumber"
            />
          </mat-form-field>
          <mat-form-field
            appearance="outline">
            <mat-label>Email &nbsp;&nbsp;</mat-label>
            <input
              matInput
              placeholder="Email"
              formControlName="email"
            />
          </mat-form-field>
          <mat-form-field
            appearance="outline">
            <mat-label>Gender &nbsp;&nbsp;</mat-label>
            <input
              matInput
              placeholder="Gender"
              formControlName="gender"
            />
          </mat-form-field>
          <mat-form-field
            appearance="outline">
            <mat-label>Birthdate &nbsp;&nbsp;</mat-label>
            <input
              matInput
              placeholder="Birthdate"
              [value]="parent?.birthDate | date: 'MMMM dd, yyyy'"
            />
          </mat-form-field>
          <mat-form-field
            appearance="outline">
            <mat-label>Address &nbsp;&nbsp;</mat-label>
            <textarea
              matInput
              placeholder="Address"
              formControlName="address"></textarea>
          </mat-form-field>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div mat-dialog-actions>
  <div>
    <button
      mat-flat-button
      cdkFocusInitial
      (click)="dialogRef.close(false)">
      Close
    </button>
  </div>
</div>
