ion-header::after {
  background-image: none;
}
.content {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  .delete-account-info {
    overflow: visible;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    width: 100%;
    max-height: 100%;
    height: max-content;
    align-items: center;
    text-align: center;
    flex-direction: column;
    * {
      vertical-align: middle;
    }
  }
}
ion-col {
  border-radius: 50px;
  display: flex;
  align-items: center;

  div {
    position: absolute;
    width: 100%;
  }

  ion-fab-button {
    position: relative;
    transition: transform 0.3s ease;
    // transform: translateX(0);
    ion-icon {
      position: absolute;
    }
    .left {
        left: 0;
        transform: translateX(3px);
    }
    .right {
        right: 0;
        transform: translateX(-3px);
    }
  }

}


::ng-deep {
  ion-modal {
    h1,h2,h3,h4,h5,span,p,label {
      margin: 0;
    }
    &.swipe-to-continue-modal {
      --height: auto;
      --width: 100%;
      .modal-content {
        row-gap: 10px;
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .success-modal-content {
      display: flex;
      min-height: 100%;
      min-width: 100%;
      flex-direction: column;
      justify-content: center;
      align-content: space-between;
      align-items: center;
      row-gap: 20px!important;
      overflow: hidden!important;
      padding: 30px!important;
      ion-icon {
        font-size: 8rem!important;
      }
      .title {
        display: flex;
        flex-direction: column;
        text-align: center;
        h1 {
          font-size: 1.8rem;
        }
      }
      .desc {
        display: flex;
        flex-direction: column;
        text-align: center;

      }
      .action {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

ion-footer {
  display: flex;
  ion-toolbar {
    display: flex;
    padding: 5px 10px;
    ion-button {
        height: 50px;
        flex-grow: 1;
        font-size: 18px;
        width: 100%;
        margin: 0!important;
    }
  }
}
