<ion-header no-border no-shadow mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="close()" >
        <ion-icon name="chevron-back" style="font-size: 2em!important;" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><h1 style="margin: 0!important;">Settings</h1></ion-title>
    <div slot="end" style="width: 48px"></div>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <div class="content">
    <div class="row profile">
      <div class="col avatar">
        <ion-avatar>
          <img (click)="onChangeProfilePic()" [src]="currentUser?.userProfilePic" (error)="profilePicErrorHandler($event)" [style]="isSubmitting ? 'opacity: 0.2' : 'opacity: 1'" id="profilePicture">
        </ion-avatar>
      </div>
      <div class="col ">
        <div class="row name">
          <h1>{{ currentUser?.fullName }}</h1>
        </div>
      </div>
    </div>
    <div class="row" style="display:flex">
      <ion-list lines="none" class="nav-list">
        <ion-item (click)="onSettingsMenuClick('profile-settings')">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label><h1>Profile Settings</h1></ion-label>
        </ion-item>
        <ion-item (click)="onSettingsMenuClick('password-and-security')">
          <ion-icon slot="start" name="shield-checkmark"></ion-icon>
          <ion-label><h1>Password and security</h1></ion-label>
        </ion-item>
        <ion-item (click)="signout()">
          <ion-icon slot="start" name="exit"></ion-icon>
          <ion-label><h1>Sign Out</h1></ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
