
::ng-deep .form-dialog {
  .mat-mdc-dialog-content {
    // overflow: auto!important;
    form {
      // box-sizing: border-box;
      fieldset {
        // box-sizing: border-box;
        border: none!important;
        // margin-inline: 0px!important;
      }
    }
  }
}
