
<h4 mat-dialog-title>{{isNew ? 'New' : 'Update'}} School Year Level</h4>

<div mat-dialog-content>
  <div fxFlex="100" class="content-inner" fxLayout="column">
    <form
    [formGroup]="schoolYearLevelForm"
    fxLayout="row wrap"
    id="schoolYearLevelForm"
    (ngSubmit)="onSubmit()">
      <fieldset fxFlex="100" fxLayout="row wrap" style="row-gap: 16px">
        <div
          fxFlex="100"
          fxLayout="column"
          style="gap: 16px"
        >
          <mat-form-field
            appearance="outline"
            fxFlex="100"
            class="cell"
            [ngClass.gt-sm]="{ isLargeScreen: true }"
          >
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              formControlName="name"
            />
            <mat-error
              *ngIf="getError('name') !== (null || undefined)"
              >{{
                (getError("name") &&
                getError("name")["required"]
                  ? "Please enter name"
                  : "") ||
                  (getError("name") &&
                  getError("name")["pattern"]
                    ? "Invalid input"
                    : "")
              }}</mat-error
            >
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            fxFlex="100"
            class="cell">
            <mat-label>Select Educational Stage &nbsp;</mat-label>
            <mat-select
              formControlName="educationalStage" required="true">
              <mat-option value="PRIMARY">Primary</mat-option>
              <mat-option value="JUNIOR">Junior High School</mat-option>
              <mat-option value="SENIOR">Senior High School</mat-option>
              <mat-option value="COLLEGE">College</mat-option>
            </mat-select>
            <mat-error
              *ngIf="getError('educationalStage') !== (null || undefined)">{{
                (getError("educationalStage") &&
                getError("educationalStage").required
                  ? "Please select educational stage"
                  : "") }}</mat-error>
          </mat-form-field>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div mat-dialog-actions>
  <div>
    <button
      mat-flat-button
      cdkFocusInitial
      (click)="dialogRef.close(false)">
      Cancel
    </button>
    <button
      mat-flat-button
      [disabled]="!formIsValid || !formIsReady"
      color="primary"
      type="submit"
      form="schoolYearLevelForm">
      {{isNew ? 'Save' : 'Update'}}
    </button>
  </div>
</div>
