::ng-deep {
  .select-employee-dialog {
    padding-left: 16px!important;
    padding-right: 16px!important;
    width: 100vw;
    max-width: 100vw;
  }
  .mat-mdc-dialog-content {
    overflow: hidden;
    padding-bottom: 0px!important;
    .select-employee-content-holder {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      display: flex;
      max-height: inherit;
      box-sizing: border-box;
      .select-employee-content {
        overflow: auto;
        padding-bottom: 16px;
        .select-employee-table {
          .mat-sort-header {
              height: 30px;
              width: max-content;
              flex-direction: row;
              display: flex;
              margin: 10px 0!important;
          }
          mat-form-field {
            width: 100%!important;
          }
          .hidden {
            display: none!important;
          }
          .mat-column-selected {
            flex: 0 0 1% !important;
            width: 1% !important;
          }
        }
      }
      .select-employee-footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .select-employee-selected {
          padding: 16px!important;
          margin-top: 20px!important;
          display: flex;
          flex-direction: row;
          .select-employee-selected-value {
            margin-left: 20px!important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4 {
              list-style: 1;
              margin: 0!important;
            }
          }
          .select-employee-selected-cancel {
            max-width: fit-content!important;
          }
        }
      }
    }
  }

}
