h1,h2,h3,h4,h5,span,p,label {
  margin: 0;
}

ion-header::after {
  background-image: none;
}
::ng-deep ion-footer {
  ion-toolbar {
    ::ng-deep .footer-controls {
      width: 100%;
      margin-right: 10px;
    }
    ::ng-deep .profile-toolbar {
      box-sizing: border-box;
      height: 48px;
      min-width: 48px;
      ion-avatar {
        width: 100%;
        height: 100%;
        img {
          object-position: center;
          object-fit: contain;
          box-shadow: 0 0 10px 0 rgb(122 122 122 / 46%);
          border-radius: 100%;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%!important;
  .title {
    padding: 30px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
    * {
      font-size: 2rem!important;
    }
  }
  .students {
    display: flex;
    flex-direction: column;
    row-gap: 30px!important;
    flex-grow: 1;
    .row {
      display: flex;
      width: 100%!important;
      flex-direction: column;
    }
    ::ng-deep .student-card {
      margin: 0!important;
      border-radius: 20px!important;
      ::ng-deep ion-item {
        &::part(native) {
          padding: 0!important;
        }
        ion-label {
          display: flex;
          flex-direction: column;
          gap: 5px!important;
          white-space: break-spaces!important;
          .desc {
            -webkit-line-clamp: 2;
            display: -webkit-box;
            max-width: 100%;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          .course-level {

          }
        }
      }
    }
  }

  .no-result {
    display: flex;
    width: 100%;
    height: 100%;
    align-self: center;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    row-gap: 5px!important;
    ion-icon {
      font-size: 3rem!important;
    }
  }
}
