
<h4 mat-dialog-title>{{isNew ? 'New' : 'Update'}} Employee</h4>

<div mat-dialog-content>
  <div fxFlex="100" class="content-inner" fxLayout="column">
    <form
    [formGroup]="employeeForm"
    fxLayout="row wrap"
    id="employeeForm"
    (ngSubmit)="onSubmit()">
      <fieldset fxFlex="100" fxLayout="row wrap" style="row-gap: 16px">
        <div
          fxLayout="column"
          fxFlex="100"
          style="gap: 16px">
          <div
          fxLayout="column"
          fxFlex="100">
            <mat-form-field
              appearance="outline">
              <mat-label>Department</mat-label>
              <input
                matInput
                readonly
                [value]="department?.departmentName"
                placeholder="Department"/>
                <mat-icon
                  class="icon-right"
                  style="cursor: pointer;"
                  matSuffix
                  matTooltip="Department"
                  (click)="showSelectDepartmentDialog()">
                  search
                </mat-icon>
            </mat-form-field>
            <span
              style="color: #f44336;font-size: 14px!important;"
              *ngIf="f['departmentId'].touched && f['departmentId'].dirty && f['departmentId'].errors">Please select Department</span>
          </div>
          <div
          fxFlex="100"
          fxLayout="column"
          fxLayout.gt-sm="row"
          style="gap: 16px">
            <mat-form-field
              appearance="outline"
              fxFlex="50%"
              class="cell"
              [ngClass.gt-sm]="{ isLargeScreen: true }"
              appearance="outline">
              <mat-label>Employee Title</mat-label>
              <input
                readonly
                matInput
                [value]="employeeTitle?.name"
                placeholder="Employee Title"/>
                <mat-icon
                  class="icon-right"
                  style="cursor: pointer;"
                  matSuffix
                  matTooltip="Search Employee Title"
                  (click)="showSelectEmployeeTitleDialog()">
                  search
                </mat-icon>
            </mat-form-field>
            <span
              style="color: #f44336;font-size: 14px!important;"
              *ngIf="f['employeeTitleId'].touched && f['employeeTitleId'].dirty && f['employeeTitleId'].errors">Please select Employee Title</span>
          </div>
          <mat-form-field
            appearance="outline"
            [ngClass.gt-sm]="{ isLargeScreen: true }">
            <mat-label>First Name</mat-label>
            <input
              matInput
              placeholder="First Name"
              formControlName="firstName"
            />
            <mat-error
              *ngIf="getError('firstName') !== (null || undefined)"
              >{{
                (getError("firstName") &&
                getError("firstName")["required"]
                  ? "Please enter First Name"
                  : "") ||
                  (getError("firstName") &&
                  getError("firstName")["pattern"]
                    ? "Invalid input"
                    : "")
              }}</mat-error
            >
          </mat-form-field>
          <div
            fxLayout="row"
            fxFlex="33.33%">
            <mat-form-field
              appearance="outline"
              [ngClass.gt-sm]="{ isLargeScreen: true }">
              <mat-label>Middle Initial</mat-label>
              <input
                matInput
                placeholder="Middle Initial"
                formControlName="middleInitial"
              />
              <mat-error
                *ngIf="getError('middleInitial') !== (null || undefined)"
                >{{
                  (getError("middleInitial") &&
                  getError("middleInitial")["required"]
                    ? "Please enter Middle Initial"
                    : "") ||
                    (getError("middleInitial") &&
                    getError("middleInitial")["pattern"]
                      ? "Invalid input"
                      : "")
                }}</mat-error
              >
            </mat-form-field>
          </div>
          <mat-form-field
            appearance="outline"
            [ngClass.gt-sm]="{ isLargeScreen: true }">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              placeholder="Last Name"
              formControlName="lastName"
            />
            <mat-error
              *ngIf="getError('lastName') !== (null || undefined)"
              >{{
                (getError("lastName") &&
                getError("lastName")["required"]
                  ? "Please enter Last Name"
                  : "") ||
                  (getError("lastName") &&
                  getError("lastName")["pattern"]
                    ? "Invalid input"
                    : "")
              }}</mat-error
            >
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            [ngClass.gt-sm]="{ isLargeScreen: true }">
            <mat-label>Mobile number</mat-label>
            <input
              matInput
              placeholder="Mobile number"
              formControlName="mobileNumber"
            />
            <mat-error
              *ngIf="getError('mobileNumber') !== (null || undefined)"
              >{{
                (getError("mobileNumber") &&
                getError("mobileNumber")["required"]
                  ? "Please enter Mobile number"
                  : "") ||
                  (getError("mobileNumber") &&
                  getError("mobileNumber")["pattern"]
                    ? "Invalid input"
                    : "")
              }}</mat-error
            >
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            [ngClass.gt-sm]="{ isLargeScreen: true }">
            <mat-label>Card number</mat-label>
            <input
              matInput
              placeholder="Card number"
              formControlName="cardNumber"
            />
            <mat-error
              *ngIf="getError('cardNumber') !== (null || undefined)"
              >{{
                (getError("cardNumber") &&
                getError("cardNumber")["required"]
                  ? "Please enter Card number"
                  : "") ||
                  (getError("cardNumber") &&
                  getError("cardNumber")["pattern"]
                    ? "Invalid input"
                    : "")
              }}</mat-error
            >
          </mat-form-field>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div mat-dialog-actions>
  <div>
    <button
      mat-flat-button
      cdkFocusInitial
      (click)="dialogRef.close(false)">
      Cancel
    </button>
    <button
      mat-flat-button
      [disabled]="!formIsValid || !formIsReady"
      color="primary"
      type="submit"
      form="employeeForm">
      {{isNew ? 'Save' : 'Update'}}
    </button>
  </div>
</div>
