<mat-toolbar color="#fff" class="mat-elevation-z4">
  <span id="title">Employee Titles</span>
  <span class="toolbar-item-spacer"></span>
  <div class="toolbar-action">
  </div>
</mat-toolbar>
<div class="component-floating-actions vertical-actions">
  <button mat-fab color="primary" aria-label="New Employee Title" *ngIf="selectedSchool && selectedSchool?.schoolCode && selectedSchool?.schoolName" matTooltip="New Employee title" (click)="newEmployeeTitleDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="content">
  <div class="inner-content">
    <mat-card [ngClass]="{ 'hidden': isLoading }">
        <mat-card-content fxLayout="column" >
          <div fxLayout="column" [ngStyle]="{ 'margin-left': '16px'}">
            <div fxFlex="100" fxLayout="row wrap" style="row-gap: 16px">
              <mat-form-field
                fxFlex="row"
                fxFlex.gt-xs="33.33%"
                fxFlex.gt-xs="column"
                appearance="outline"
                (dblclick)="showSelectSchoolDialog()">
                <mat-label>School</mat-label>
                <input
                  matInput
                  readonly
                  [value]="selectedSchool?.schoolName ? selectedSchool?.schoolName : ''"
                  placeholder="Search School"/>
                  <mat-icon
                    class="icon-right"
                    style="cursor: pointer;"
                    matSuffix
                    matTooltip="Search School"
                    (click)="showSelectSchoolDialog()">
                    search
                  </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <app-data-table
            [isLoading]="isLoading"
            [dataSource]="dataSource"
            [columnDefs]="columnDefs"
            [total]="total"
            (pageChange)="pageChange($event)"
            (sortChange)="sortChange($event)"
            (filterChange)="filterChange($event)"
            (controlMenuItemSelected)="controlMenuItemSelected($event?.type, $event?.data)"
          ></app-data-table>
        </mat-card-content>
    </mat-card>
  </div>
</div>
